<?xml version="1.0" encoding="utf-8"?>
<!-- config file for installing odac with OLEDB component, tnsadmin and testoracleconnect.powershell. OLEDB is only ODAC componenent needed for MSSQL to Oracle connectivity. Note: Because Visual Studio is 32-bit workstations should use 32-bit version (odac-msssql-x86_32) to develop SSIS, SSAS and SSRS. Servers should use 64-bit. No changes needed for server deployments. -->
<packages>
    <package id='tnsadmin' packageParameters="FROM_LOCATION='\\vmware-host\Shared Folders\Desktop\rj-tnsadmin\Tnsadmin';TNS_ADMIN=C:\Oracle\Tnsadmin" source="C:\orainstall\tnsadmin" />
    <package id='odac-x86_32-12_1' packageParameters="FROM_LOCATION=\\vmware-host\Shared Folders\Desktop\oracle\windows\odac;PROD_HOME=C:\Oracle\product\x86;COMPONENT_LIST=oledb;LINK_PATH=true" source="C:\orainstall\odac-x86_32-12_1" />
    <package id='testoracleconnect.powershell' source="C:\orainstall\testoracleconnect.powershell" />
</packages>