<?xml version="1.0" encoding="utf-8"?>
<!-- config file for installing Oracle Client Tools. -->
<packages>
    <package id='tnsadmin' packageParameters="FROM_LOCATION='\\vmware-host\Shared Folders\Desktop\rj-tnsadmin\Tnsadmin';TNS_ADMIN=C:\Oracle\Tnsadmin" source="C:\orainstall\tnsadmin" />
    <package id='instantclient-12_1' packageParameters="FROM_LOCATION=\\vmware-host\Shared Folders\Desktop\oracle\windows\instantclient\120120;PROD_HOME=C:\Oracle\product" source="C:\orainstall\instantclient-12_1" />
    <package id='instantclient-jdbc-12_1' packageParameters="FROM_LOCATION=\\vmware-host\Shared Folders\Desktop\oracle\windows\instantclient\120120;PROD_HOME=C:\Oracle\product" source="C:\orainstall\instantclient-jdbc-12_1" />
    <package id='instantclient-sqlplus-12_1' packageParameters="FROM_LOCATION=\\vmware-host\Shared Folders\Desktop\oracle\windows\instantclient\120120;PROD_HOME=C:\Oracle\product" source="C:\orainstall\instantclient-sqlplus-12_1" />
    <package id='oracle-sqldeveloper' packageParameters="FROM_LOCATION=\\vmware-host\Shared Folders\Desktop\oracle\windows\sqldeveloper;PROD_HOME=C:\Oracle\product"  source="C:\orainstall\oracle-sqldeveloper" />
    <package id='test-oracleconnect.powershell' source="C:\orainstall\test-oracleconnect.powershell" />
</packages>